input{
    margin: 10px;  
}
header{
    max-width: 100%;
    text-align: center;
}
fieldset{
    width: 500px;
    background-color: azure;
    margin: 5px auto;
}

legend  {
    color: white;
    background-color: black;
    padding: 2px 10px;
}